<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    {% endblock %}

    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <h1><a href="/">Get your weather</a></h1>
    </header>
    <main>
        {% block body %}{% endblock %}</main>
    <footer>
        <p>A little app to learn some Express and Node by Ed Johnson-Williams</p>
    </footer>

</body>

</html>